{% extends "layout.html" %}

{% block title %}Dictionary{% endblock %}

{% block content %}
<div class="row">
	<h1>Welcome!</h1>
	<div class="form-group">
    	<label for="text">Sentence:</label>
		<br>
    	<textarea rows="4" cols="50" id="sentence">Enter your sentence here.</textarea>
		<a href="#" class="button" id="translate_text">Submit</a>
  	</div>
  	<div id="result">

  	</div>

<div>

<script src="../static/dictionary/js/jquery.js"></script>
<script src="../static/dictionary/js/dictionary.js"></script>

{% endblock %}

