{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'dictionary/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'freelancer.css' %}"/>

        <!-- Custom Fonts -->
        <link href=" {% static 'font-awesome/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        hello, world!
        {% block content %}{% endblock %}
    </body>
</html>