{% extends "layout.html" %}
{% load staticfiles %}


{% block title %}Saved Sentences{% endblock %}



{% block content %}

<div class="row">
	<h1 id="saved_word_title">These are your saved sentences/words:</h1>
	<table>
	  <thead>
	    <tr>
	      <th width="200">Word/Sentence</th>
	      <th width="200">Chinese Translation</th>
	      <th width="200">Say It</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for sentence in sentences %}
	    <tr>
	      <td>{{ sentence.sentence_text }}</td>
	      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
	      <td>Content Goes Here</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>

<!--<script src="../static/dictionary/js/jquery.js"></script>-->
<!--<script src="../static/dictionary/js/dictionary.js"></script>-->

{% endblock %}