{% extends "layout.html" %}

{% block title %}{{video.title}}{% endblock %}

{% block content %}
    <div class="row">
    <div class="container">
	    <h1>{{video.title}}</h1>
        <h2>{{video.video_link}}</h2>

        <object style="height: 390px; width: 640px"><param name="movie" value={{"http://www.youtube.com/v/"|add:video.video_link|add:"version=3"}}><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src={{"http://www.youtube.com/v/"|add:video.video_link|add:"?version=3"}} type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="940" height="690"></object>

        <div>Have questions? Contact us! {{email|urlize}}</div>
    </div>


{% endblock %}

