{% extends "layout.html" %}

{% block title %}myEnglishABC - Home{% endblock %}

{% block content %}
    <div class="row">
        <h1>You have been logged in!</h1>

        <h3>First Name: {{ fetchedUser.first_name }}</h3>

        <h3>Last Name: {{ fetchedUser.last_name }}</h3>
    </div>
    <div class="row">
        <h1>Update your profile</h1>

        <form action="/updateUser/" method="post">
			<p>First Name: <input type="text" name="firstName"></p>
			<p>Last Name:  <input type="text" name="lastName"></p>
			{% csrf_token %}
			<input type="submit" class="button" value="Submit">
		</form>
    </div>




{% endblock %}