{% extends "layout.html" %}

{% block title %}myEnglishABC{% endblock %}

{% block content %}

    <div class="row">
    </div>

    <div class="row">
		<div class="medium-8 columns">
			<h1>我的英文ABC</h1>
			<p><img src="/static/images/img-1.jpg"></p>
		</div>
		<div class="medium-4 columns">
		<p><img src="/static/images/img-2.jpg" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
		<p><img src="/static/images/img-3.jpg" alt="article promo image"></p>
		</div>
	</div>

    <!--
    <div class="callout large primary">
		<div class="row column text-center">
			<h1>我的英文ABC</h1>
			<h2 class="subheader">學英語</h2>
		</div>
		<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
			<ul class="orbit-container">
				<button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
				<button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
				<li class="orbit-slide is-active">
					<img src="/static/images/img-1.jpg" height="200" width="1200">
				</li>
				<li class="orbit-slide">
					<img src="/static/images/img-2.jpg" height="200" width="1200">
				</li>
				<li class="orbit-slide">
					<img src="/static/images/img-3.jpg" height="200" width="1200">
				</li>
				
			</ul>
		</div>
	</div>
	-->
	<hr>
		<div class="row column">
			<h4 style="margin: 0;" class="text-center">MAKING ENGLISH LEARNING FAST, EASY, AND FUN!</h4>
		</div>
	<hr>
		<div class="row">
	<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
		<article>
			<div class="row">
				<div class="large-6 columns">
				<p><img src="/static/images/dictionary.jpg" alt="image for article" alt="article preview image"></p>
			</div>
			<div class="large-6 columns">
				<h5><a href="/dictionary">Dictionary</a></h5>
				<!--
				<p>
					<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
					<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
					<span><i class="fi-comments"> 6 comments</i></span>
				</p>
				-->
				<p>Struggling with a word, phrase or sentence? Put in a vocabulary word or sentence and have a chinese translation in less than a second. 
				</p>
			</div>
		</div>
	<hr>
		<div class="row">
		<div class="large-6 columns">
			<p><img src="/static/images/list.jpg" alt="image for article" alt="article preview image"></p>
		</div>
		<div class="large-6 columns">
			<h5><a href="/savedWords">Saved Words</a></h5>
		<!--
		<p>
			<span><i class="fi-torso"></i></span>
			<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
			<span><i class="fi-comments"> 6 comments</i></span>
		</p>
		-->
		<p>Trying to keep track of all the words, phrases, or sentences that you are learning? See a list of everything you saved and play back an english audio to help you learn and remember.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="large-6 columns">
			<p><img src="/static/images/follow-me.jpg" alt="image for article" alt="article preview image"></p>
		</div>
		<div class="large-6 columns">
		<h5><a href="/video">Videos</a></h5>
		<!--
		<p>
			<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
			<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
			<span><i class="fi-comments"> 6 comments</i></span>
		</p>
		-->
		<p>Tired of reading your English textbook. Learn by watching the great TV series, Follow Me And Learn English!</p>
		</div>
	</div>
	<!--<hr>-->
	<!--
	<div class="row">
		<div class="large-6 columns">
		<p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
		</div>
		<div class="large-6 columns">
			<h5><a href="#">Tutor</a></h5>
			<p>
				<span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
				<span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
				<span><i class="fi-comments"> 6 comments</i></span>
			</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum delectus aperiam nesciunt magni facilis ullam.</p>
		</div>
	</div>
	-->
	<hr>
	
</article>
</div>
	<div class="large-4 columns">
	<aside>
		<div class="row small-up-3">
		<!--
		<div class="column text-center">
			<i class="fi-social-facebook"></i>
			<h6>56,009</h6>
			<p><small>FOLLOWERS</small></p>
			<br>
		</div>
		<div class="column text-center">
			<i class="fi-social-twitter"></i>
			<h6>76,905</h6>
			<p><small>FOLLOWERS</small></p>
			<br>
		</div>
		<div class="column text-center">
			<i class="fi-social-instagram"></i>
			<h6>34,099</h6>
			<p><small>FOLLOWERS</small></p>
			<br>
		</div>
		<div class="column text-center">
			<i class="fi-social-tumblr"></i>
			<h6>13,765</h6>
			<p><small>FOLLOWERS</small></p>
		</div>
		<div class="column text-center">
			<i class="fi-social-pinterest"></i>
			<h6>9,283</h6>
			<p><small>FOLLOWERS</small></p>
		</div>
		<div class="column text-center">
			<i class="fi-social-youtube"></i>
			<h6>99,000</h6>
			<p><small>FOLLOWERS</small></p>
		</div>
		-->
	</div>

	<br>

	<div class="row column">
		<p class="lead">May 29, 2016</p>
		<p>
			Welcome to myEnglishABC, an initiative to help people learn English. As we all know, when we travel to a country that we have never been to before, and do not speak the country's native language, we are often thrown into a state of fear and unease. We are afraid to walk into a restarunt, we are afraid to get on a taxi, and we may be even afraid to use the restroom. 

			<br>
			<br>
			The goal of myEnglishABC is to provide tools to help people navigate and learn English in easy and effective ways. We have an electronic dictionary functionality that allows you to look up any word or sentence and get a translation in a second. We have a way for you to save the words and sentences that you want to keep and also play it back through audio output. Finally, we have compiled a set of Follow Me videos from Great Britain to help you learn English painlessly. 
			<br>
			<br>
			Above all, we hope that this application, a work in progress will meet the challenges of some of the barriers in learning English and the most important thing is to have fun learning. 
			<br>
			<br>
			Cheers!
		</p>
	</div>
	<br>
	<!--
	<div class="row column">
		<p class="lead">TRENDING POSTS</p>
		<div class="media-object">
		<div class="media-object-section">
		<img class="thumbnail" src="http://placehold.it/100">
	</div>
	<div class="media-object-section">
		<h5>All I need is a space suit and I'm ready to go.</h5>
	</div>
	</div>
	<div class="media-object">
		<div class="media-object-section">
			<img class="thumbnail" src="http://placehold.it/100">
		</div>
		<div class="media-object-section">
			<h5>Are the stars out tonight? I don't know if it's cloudy or bright.</h5>
		</div>
	</div>
	<div class="media-object">
		<div class="media-object-section">
		<img class="thumbnail" src="http://placehold.it/100">
	</div>
	<div class="media-object-section">
		<h5>And the world keeps spinning.</h5>
	</div>
	</div>
	<div class="media-object">
		<div class="media-object-section">
		<img class="thumbnail" src="http://placehold.it/100">
	</div>
	<div class="media-object-section">
		<h5>Cold hearted orb that rules the night.</h5>
	</div>
	</div>
	</div>
	-->
</aside>
</div>
</div>

{% endblock %}
